
/* 
   .moodsContainer {
    display: grid;
    grid-template-columns: repeat(3, 30%);
    grid-template-rows: repeat(3, 30%);
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh
   } */
body {
   background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwD9GL4KoY1hCmtbwd0GR36rSP4QnnsyJmAQ&usqp=CAU://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTfGzHPKAG4bEL8s8_5IE8Vsh0yMvLjwHeazQ&usqp=CAU");
   background-size: cover;
   color: white;
}

.cell {
  display: flex;
  flex-direction: column;
  width: 30vh;
  text-align: left;
  align-items: center;
  width: 28%;
  border-style: double;
  border-color: darkorange;
  margin: 2%;
  background-color:cornflowerblue;
}

.moodsContainer 
{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.moodName {
   text-align: center;
}

.pageHeader
{
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.moodImg
{
  width: 50%;
}

.moodDesc
{
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: gray;
  margin: 2%;
  padding: 1%;
}

.margin
{
  margin: auto;
}

.machoAdvice
{
  width: min-content;
  margin-right: 2%;
}

.moodName
{
  font-size: 30px;
  font-weight: 800;
}